extend layout

block content

  section#search.search-wrap
    h1 Find your dream Coding Job!
    form.search-form(action='/gigs/search')
      i.fas.fa-search
      input(type='search' name='term' placeholder='javascript, php, rails, etc...')
      input(type='submit' value='Search')