extend layout

block content
  // Start: Registration Form with Photo
  .login-form
    .form-container
      .image-holder
      form(method='post')
        h2.text-center
          strong Welcome!
        if registeredSuccessfully
        .alert.alert-success You have registered successfully, now you may log in.
        form(action='/login' method='POST')  
          .login-section
            .form-group
              input.form-control(type='email' name='email' placeholder='Email' required)
            .form-group
              input.form-control(type='password' name='password' placeholder='Password' required)
            .form-group
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox')
                  | I agree to the license terms.
            .form-group
              button.btn.btn-primary.btn-block(type='submit') Sign in
            a.already(href='/register') You do not have an account? Sign up here.
        // End: Form Container
      // End: Registration Form with Photo