@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
  --primary-color: #568c9b;
  --primary-hover-color: #64a5b7;
  --bg-color: #333;
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #333;
  background: url('../img/showcase.jpg') no-repeat center center fixed / cover;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.container {
  max-width: 960px;
  padding: 1rem 4rem;
  margin: auto;
  overflow: hidden;
}

.error {
  padding: 5px;
  border: #777 dotted 1px;
  margin-bottom: 15px;
}

/* Header */
header {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 6rem;
  position: sticky;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 1rem;
}

/* Login Button Spacing */
/* header nav li:last-child {
  margin-left: -5px;
} */

header {
  background: var(--bg-color);
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;

}

/* Buttons */
.btn {
  color: #fff;
  padding: 0.6rem;
  border: 1px solid #ccc;
  transition: all 0.7s;
}

.btn:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}

.btn-reverse {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.gig li.special {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}
.gig li.right {
  display: flex;
  justify-content: flex-end;
}

.btn-reverse:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
}


/* Home Search */
.search-wrap {
  background: url('../img/showcase.jpg') no-repeat center center fixed / cover;
  height: 100vh;
  width: 100%;
  padding: 1.3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-wrap h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  margin: 0 0 1.5rem;
  text-align: center;
}

.search-form input[type='submit'] {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  padding: 0 2rem;
  cursor: pointer;
  transition: all 0.8s;
}

.search-form input[type='submit']:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
}

.search-form {
  display: flex;
  width: 600px;
  box-shadow: var(--box-shadow);
}

.search-form i {
  color: #333;
}

/* Everything in the search form */
.search-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
}

input[type='search'] {
  flex-basis: 600px;
}

/* Gigs */

.gig {
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
}
.gig ul {
  background: var(--bg-color);
  list-style: none;
  padding: 10px;
  padding-bottom: 10px;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  
}

.gig li {
  display: flex;
  justify-content: flex-start;
}

.btn{
  float: inherit;
  padding: 7px 20px;
  font-size: 1.06em;
  background-color: #0796cf;
  color: #fff;
  border: 1px solid #0285b9;
  cursor: pointer;
  margin-top: 4px;
}


/* Form */
.form-wrap {
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 20px;

}

.box{
  background: var(--bg-color);
  list-style: none;
  padding: 10px;
  padding-bottom: 10px;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;

}
.form-wrap h1,
.form-wrap h2,
.form-wrap p {
  text-align: center;
}

.form-wrap .btn {
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: block;
  width:100%;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-box {
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1.2rem;
}

/* Tablets */
@media (max-width: 800px) {
  .container {
    padding: 1rem 2rem;
    border-radius: 20px;
  }

  header {
    flex-direction: column;
    padding: 0.3rem !important;
  }

  .search-form {
    width: 100%;
  }

  input[type='search'] {
    flex-basis: 100%;
  }

  .search-wrap h1 {
    font-size: 2rem;
  }

  .search-wrap {
    padding: 2.3rem;
  }

  .gig ul {
    flex-direction: column;
  }

  .gig .btn {
    display: block;
    margin-top: 1rem;
    text-align: center;
  }
}
.login-form {
  margin-top:50px;
  margin-left: 10rem;
  display: flex; 
  background: url('../img/login-img.jpg') no-repeat;
}
.form-container {
  background: var(--bg-color);
  list-style: none;
  padding: 10px;
  padding-bottom: 10px;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  color: White;
  margin-left: 30rem;
}
.box-for-register {
  background: var(--bg-color);
  list-style: none;
  padding: 10px;
  padding-bottom: 10px;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  color: White;
  margin-top: 5rem;
  max-width: 500px;
  margin-left: 20rem; 
}
.box-for-picture {
  background: url('../img/register-img.png') no-repeat;
  margin-left: 15rem;
}

/* Smartphones */
@media (max-width: 500px) {
  .container {
    padding: 1rem;
  }

  header nav li {
    margin: 0 10px;
  }

  .search-form {
    display: flex;
    flex-direction: column;
  }

  input[type='search'] {
    flex-basis: 0;
  }

  .search-form i {
    display: none;
  }

  .form-wrap {
    padding: 1rem 2rem 2rem;
    border-radius: 10px;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 100%;
  }
}

