extends layout

block content

  section#gigs.container
    h1 All Gigs
  
    .gig
      h3 title
      p 
      ul
        li Budget:
        li
          a.btn.btn-reverse(href='#') Apply Now
      .tech
        small
          | Technologies Needed: 
          span 

      p No gigs available
