extend layout

block content

  section#search.search-wrap
    h1 Find A Coding Gig
    form.search-form(action='/gigs/search')
      i.fas.fa-search
      input(type='search' name='term' placeholder='Javascript, PHP, Rails, etc...')
      input(type='submit' value='Search')